.book-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;

  button {
    width: 184px;
    height: 33px;
    border-radius: 3px;
    background-color: #0290ff;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.book-card-info {
  .category {
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #121212;
    opacity: 0.5;
  }
  
  .title {
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #121212;
  }
}